$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);
$tablet: 768px;
$mobile: 480px;

.agregadoRecientementeSection {
    .agregadosRecientementeTitle {
        color: $pallete1;
        margin-left: 3em;
    }
    .agregadosRecientemente {
        margin-top: 2rem;

        @media (max-width: $tablet) {
            margin-top: 1rem;
        }
        .agregadosRecientementeImg {
            width: 20rem;
            &.agregadosRecientementeImg:nth-child(1) {
                margin-left: 3em;
            }

            &.agregadosRecientementeImg:hover{
                transform: scale(1.1);
              }

              @media (max-width: $tablet) {
                width: 11rem;
            }

            @media (max-width: $mobile) {
                width: 13rem;
            }
          
        }
    }//agregadosRecientemente
}//agregadoRecientementeSection