$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);

.agregadoRecientementeSection {
    .agregadosRecientementeTitle {
        color: $pallete1;
        margin-left: 3em;
    }
    .agregadosRecientemente {
        height: 15em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        .agregadosRecientementeImg {
            margin: 1em;
            scroll-snap-align: center;
            

            &.agregadosRecientementeImg:nth-child(1) {
                margin-left: 3em;
            }

            &.agregadosRecientementeImg:hover{
                transform: scale(1.1);
              }

              @media (max-width: 768px) {
                width: 15em;
              }
        }
        &::-webkit-scrollbar {
            color: $pallete2;
        }
        &:hover{
            opacity: 100;
        }
    }//agregadosRecientemente
}//agregadoRecientementeSection