$pallete1: white;

.agregadoRecientementeSection {
    .agregadosRecientementeTitle {
        color: $pallete1;
        margin-left: 3em;
    }
    .agregadosRecientemente {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        .agregadosRecientementeImg {
            margin: 1em;
            scroll-snap-align: center;
            

            &.agregadosRecientementeImg:nth-child(1) {
                margin-left: 3em;
            }

            &.agregadosRecientementeImg:hover{
                transform: scale(1.1);
              }

              @media (max-width: 768px) {
                  width: 40%;
              }
        }
        &::-webkit-scrollbar {
            opacity: 0;
        }
        &:hover{
            opacity: 100;
        }
    }//agregadosRecientemente
}//agregadoRecientementeSection