$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);
$tablet: 768px;
$mobile: 480px;

.capitulosSection {
    width: 100%;
    .temporada {
        color: $pallete1;
        margin: 1rem 0 1rem 3rem;

    }
    .capitulosTemporada {
        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
        }
        .capitulo {
            .capitulosImg{
                margin-bottom: 1rem;
                width: 20rem;
                &.capitulosImg:nth-child(1) {
                    margin-left: 3rem;

                    @media (max-width: $tablet) {
                        margin-left: 0;
                    }
                }

                @media (max-width: $tablet) {
                   width: 12rem;
                }
                @media (max-width: $mobile) {
                    height: 6rem;
                    margin-right: 0.5rem;
                }
            }//capitulosImg

            .text{
                color: $pallete1;
                .title{
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                    &.title:nth-child(1) {
                        margin-left: 3rem;
                    
                        @media (max-width: $mobile){
                             margin-left: 0;
                        }

                    }

                    @media (max-width: $mobile) {
                        font-size: 0.7rem;
                    }
                        
                }
                .description{
                    font-size: 0.8rem;
                    width: 20rem;
                    margin: 0.5rem 0 1rem 3rem;
                    line-height: 1.3rem;

                    @media (max-width: $tablet) {
                        line-height: 1rem;
                    }

                    @media (max-width: $mobile) {
                        font-size: 0.6em;
                        width: 12rem;
                        margin: 0;
                        line-height: 1rem;
                        margin-top: 0.2rem;
                        margin-right: 1rem;
                    }
                
                }
                @media (max-width: $tablet) {
                    margin-top: 0.5rem;
                }
                @media (max-width: $mobile) {
                    margin-top: 0;
                }
        }//text

        @media (max-width: $tablet) {
            flex: 1 0 auto;
            display: flex;
            justify-content: space-around;
            }

           
        }//capitulo
        
    } //capitulosTemporada
} //capitulosSection