$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);

.capitulosSection {
    .temporada {
        color: $pallete1;
        margin-left: 3em;
    }
    .capitulosTemporada {
        height: 20em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
        .capitulo {
            .capitulosImg{
                margin: 1em;
                scroll-snap-align: center;
                
                &.capitulosImg:nth-child(1) {
                    margin-left: 3em;

                    @media (max-width: 768px) {
                        margin-left: 0;
                    }
                }

                &.capitulosImg:hover{
                    transform: scale(1.1);
                }

                @media (max-width: 768px) {
                   width: 10em;
                   height: 6em;
                }
            }//capitulosImg

            .text{
                color: $pallete1;
                font-size: 1em;
                .title{
                    font-weight: bold;
                    &.title:nth-child(1) {
                        margin-left: 3em;
                        
                        @media (max-width: 768px) {
                            margin-left: 0;
                        }

                    }
                }
                .description{
                    width: 20em;
                    margin-left: 3em;

                    @media (max-width: 768px) {
                        margin-left: 0;
                    }

                }

                @media (max-width: 768px) {
                    font-size: 65%;
                    width: 10em;
                    height: 5em;
                    
                }
        }//text

        @media (max-width: 768px) {
            display: flex;
            justify-content: space-around;
            margin-top: 2em;
            margin-bottom: 1em;
            }
        }//capitulo
        &::-webkit-scrollbar {
           color: $pallete2;
        }
        &:hover{
            opacity: 100;
        }
        
    } //capitulosTemporada
} //capitulosSection