$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);
$tablet: 768px;
$mobile: 480px;

.capitulosSection {
    width: 100%;
    .temporada {
        color: $pallete1;
        //margin-left: 3rem;
        //margin-top: 1rem;
        margin: 1rem 0 1rem 3rem;

    }
    .capitulosTemporada {
        //height: 20rem;
        //display: flex;
        //max-width: 90rem;
        //overflow-x: auto;
        //scroll-snap-type: x mandatory;

        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
        }
        .capitulo {
            .capitulosImg{
                margin-bottom: 1rem;
                width: 20rem;
                //scroll-snap-align: center;
                
                &.capitulosImg:nth-child(1) {
                    margin-left: 3rem;

                    @media (max-width: $tablet) {
                        margin-left: 0;
                    }
                }

                &.capitulosImg:hover{
                    transform: scale(1.1);
                }

                @media (max-width: $tablet) {
                   width: 13rem;
                   
                   //height: 6em;
                   
                }

                @media (max-width: $mobile) {
                    width: 11rem;
                }
            }//capitulosImg

            .text{
                color: $pallete1;
                .title{
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                    &.title:nth-child(1) {
                        margin-left: 3rem;
                    }  

                    @media (max-width: $mobile) {
                        font-size: 0.8em;
                    }
                        
                }
                .description{
                    font-size: 0.8rem;
                    width: 20rem;
                    //margin-left: 3rem;
                    //margin-top: 0.5rem;
                    margin: 0.5rem 0 1rem 3rem;
                    line-height: 1.3rem;

                    @media (max-width: $mobile) {
                        font-size: 0.7em;
                        width: 13rem;
                        margin-right: 1rem;
                    }
                
                }
        }//text

        @media (max-width: $tablet) {
            flex: 1 0 auto;
            display: flex;
            justify-content: space-around;
            }

           
        }//capitulo
        
    } //capitulosTemporada
} //capitulosSection