$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);

.header {
    position: fixed;
    background-color: $pallete2;
    width: 100%;
    height: 4em;

    @media (max-width: 768px) {
        height: 2.5em;
    }
    .menuOn{
        display: none;
        margin-left: 1em;
        width: 1.5em;
        height: 1em;
        position: relative;
        z-index: 2;
        .menuHamburguesa{
            width: 100%;
            height: 3px;
            border-radius: 4px;
            display: block;
            position: absolute;
            background-color: $pallete1;

            &.menuHamburguesa:nth-child(2){
                top: calc(50% - 2px);
            }
            &.menuHamburguesa:nth-child(3){
                bottom: 0;
            }
        }
        @media (max-width: 768px) {
            display: block;
            margin-top: 0.8em;

        }
    }
    .titlePage {
        .titlePageImg{
            width: 8em;
            margin-top: 1.5em;
            margin-left: 5em;
            margin-bottom: -1em;

            @media (max-width: 768px) {
                width: 5em;
                margin-top: -1em;
                padding-bottom: 2em;
                
            }
        }
    }
    .navBar {
        //display: flex;
        font-weight: bold;
        font-size: 0.9em;
        text-align: center;
        margin-left: 20em;
        margin-top: -2.5em;
        .listaNav{
            display: flex;
            .itemNav {
                display: flex;
                .inicioNav{
                    text-decoration: none;
                    margin-left: 0.8em;
                    color: $pallete1;
                }
            
                .seriesNav{
                    text-decoration: none;
                    margin-left: 0.8em;
                    color: $pallete1;
                }
                .peliculasNav{
                    text-decoration: none;
                    margin-left: 0.8em;
                    color: $pallete1;
                }
                .agregadosNav{
                    text-decoration: none;
                    margin-left: 0.8em;
                    color: $pallete1;
                }
                .miListaNav{
                    text-decoration: none;
                    margin-left: 0.8em;
                    color: $pallete1;
                }
                @media (max-width: 768px) {
                    margin-left: -2.5em;
                    padding-top: 2em;
                    font-size: 1em;
                    
                    
                }
            }//itemNav
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                background-color: $pallete2;
                height: 100vh;
                text-align: left;
                margin-left: -20em;
                margin-top: 1em;
                width: 9em;
                display: none;
                z-index: 1;
                }
        }//listaNav
        
    }//navBar
} //header