$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);
$tablet: 768px;
$mobile: 480px;

.header {
    position: fixed;
    background-color: $pallete2;
    width: 100%;
    height: 3.5rem;
    z-index: 1;

    @media (max-width: $tablet) {
        height: 2.5rem;
    }

    @media (max-width: $mobile) {
        height: 2rem;
    }
    .menuOn{
        display: none;
        outline: none;
        background-color: transparent;
        border: $pallete2;
        margin-left: 1rem;
        height: 1.5rem;
        .fa-bars {
            color: $pallete1;
            font-size: 1.5em;
        }
        @media (max-width: $tablet) {
            display: block;
        }
    }
    .titlePage {
        .titlePageImg{
            width: 8rem;
            margin-top: 0.8rem;
            margin-left: 5rem;
            margin-bottom: -1rem;

            @media (max-width: $tablet) {
                width: 5rem;
                margin-top: -1rem;
                margin-bottom: 0;
                padding-bottom: 1rem;
            }
        }
    }
    .navBar {
        font-weight: bold;
        font-size: 0.9rem;
        text-align: center;
        margin-left: 16rem;
        margin-top: -1rem;
        .listaNav{
            display: flex;
            .itemNav {
                display: flex;
                .inicioNav{
                    text-decoration: none;
                    margin-left: 0.8rem;
                    color: $pallete1;
                }
            
                .seriesNav{
                    text-decoration: none;
                    margin-left: 0.8rem;
                    color: $pallete1;
                }
                .peliculasNav{
                    text-decoration: none;
                    margin-left: 0.8rem;
                    color: $pallete1;
                }
                .agregadosNav{
                    text-decoration: none;
                    margin-left: 0.8rem;
                    color: $pallete1;
                }
                .miListaNav{
                    text-decoration: none;
                    margin-left: 0.8rem;
                    color: $pallete1;
                }
               
                @media (max-width: $tablet) {
                    text-align: start;
                    width: 10rem;
                    padding-top: 1em;
                    height: 2.5rem;

                    &:hover {
                        background-color: black;
                    }

                    @media (max-width: $mobile) {
                        font-size: 0.9em;
                    }
                }
            }//itemNav
            @media (max-width: $tablet) {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                margin-top: 0.5rem;
                background-color: $pallete2;
                height: 100vh;
                width: 10rem;
                margin-left: -16rem;
                display: none;
                } 

                @media (max-width: $tablet) {
                    margin-top: 0;
                }
        }//listaNav
        }//navBar
} //header