$pallete1: white;
$pallete2: rgba(61, 60, 60, 0.6);

.header {
    position: fixed;
    background-color: $pallete2;
    width: 100vw;
    height: 4em;
    .titlePage {
        .titlePageImg{
            width: 9.3em;
            margin-top: 0.8em;
            margin-left: 5em;
            margin-bottom: -1em;
        }
    }
    .navBar {
        display:inline;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1.8em;
        text-align: center;
        .inicioNav{
            text-decoration: none;
            width: 3.6em;
            margin-left: 10em;
            color: $pallete1;
        }
        .seriesNav{
            text-decoration: none;
            width: 3.9em;
            margin-left: 1.6em;
            color: $pallete1;
        }
        .peliculasNav{
            text-decoration: none;
            width: 5.8em;
            margin-left: 1.5em;
            color: $pallete1;
        }
        .agregadosNav{
            text-decoration: none;
            width: 13.5;
            margin-left: 0.8em;
            color: $pallete1;
        }
        .listaNav{
            text-decoration: none;
            width: 4.8em;
            margin-left: 1.5em;
            color: $pallete1;
        }
}//navBar
} //header