$pallete1: white;
$pallete3: rgba(126, 121, 121, 0.6);
$pallete4: rgba(243, 18, 18, 0.6);
$pallete5: rgb(2, 121, 2);
$ipadpro: 1024px;
$ipad: 768px;
$mobile: 480px;

.heroScreen {
    background-image: url("../assets/breakingBad.png");
    max-width: 100vw;
    height: 40rem;
    background-size: cover;
    background-position: center;
    color: $pallete1;

    @media screen and (max-width: $ipad) {
        height: 30rem;
    }
    .titleSerie-detalle {
        .titleSerieImg-detalle {
            width: 17rem;
            margin-left: 5rem;
            margin-top: 4rem;

            @media screen and (max-width: $ipad) {
                display: none;
            }
        }
    }
    .textInfo{
        display: flex;
        margin-left: 5rem;
        .coincidence{
            color: $pallete5;
            font-weight: bold;
            margin: 1rem;
        }
        .year{
            margin-top: 1rem;
        }
        .age{
            margin-left: 1rem;
            margin-top: 0.5rem;
            padding-top: 0.3rem;
            text-align: center;
            border-radius: 0.5rem;
            border: 1px solid $pallete1;
            width: 3rem;
            height: 1.5rem;
        }
        .seasons{
            margin-left: 1rem;
            margin-top: 1rem;
        }
        @media screen and (max-width: $ipad) {
            display: none;
        }
    }//textInfo
    .textMobile {
        display: none;
        color: $pallete1;
        .titleMobile {
            font-size: 1.5rem;
            padding-top: 10rem;
            margin-left: 2rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }
        .yearMobile {
            display: inline;
            font-size: 1rem;
            margin-left: 2rem;
        }
        .ageMobile {
            display: inline;
            font-size: 1rem;
            margin-left: 0.5rem;
        }
        .seasonsMobile {
            display: inline;
            font-size: 1rem;
            margin-left: 0.5rem;
        }

        @media screen and (max-width: $ipad) {
            display: block;
        }
    }//textMobile
    .reproducir{
        text-decoration: none;
        color: $pallete1;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 9px;
        background-color: $pallete4;
        border: $pallete4;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-left: 5rem;
        margin-top: 2rem;

        @media screen and (max-width: $ipad) {
            display: inline-block;
            margin-left: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }

    .miLista{
        text-decoration: none;
        color: $pallete1;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 9px;
        background-color: $pallete3;
        border: $pallete3;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        margin-left: 1.5rem;
        margin-top: 2rem;

        @media screen and (max-width: $ipad) {
            display: none;
        }
    } 
   
    .fa-thumbs-o-up{
        font-size: 1.3rem;
        margin-top: 2rem;
        border-radius: 2rem;
        border: solid $pallete1;
        margin-left: 1.5rem;
        text-align: center;
        width: 1erm;
        height: 1rem;
        padding: 0.8rem;

        &.fa-thumbs-o-up:active{
            color: red;
            background-color: rgba(243, 18, 18, 0.3);
            border-radius: 2rem;
            border: solid red;
        }

        @media screen and (max-width: $ipad) {
            display: none;
        }
    }

    .fa-thumbs-o-down{
        font-size: 1.3rem;
        margin-top: 2rem;
        border-radius: 2rem;
        border: solid $pallete1;
        margin-left: 1.5rem;
        text-align: center;
        width: 1rem;
        height: 1rem;
        padding: 0.8rem;

        &.fa-thumbs-o-down:active{
            color: red;
            background-color: rgba(243, 18, 18, 0.3);
            border-radius: 2rem;
            border: solid red;
            }
        
            @media screen and (max-width: $ipad) {
                display: none;
            }
       
    }
    .textResumen{
        width: 30rem;
        margin: 3rem 0 0 5rem;
        font-size: 1rem;
        line-height: 1.7rem;

        @media screen and (max-width: $ipad) {
            display: none;
        }
    }

}//heroScreen