$pallete1: white;

.seguirViendoSection {
    .seguirViendoTitle {
        color: $pallete1;
        margin-left: 3em;
    }
    .seguirViendo {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        .progress{
            .seguirViendoImg {
                margin: 1em;
                scroll-snap-align: center;
                

                &.seguirViendoImg:nth-child(1) {
                    margin-left: 3em;
                }

                &.seguirViendoImg:hover{
                    transform: scale(1.1);
                }

                @media (max-width: 768px) {
                    width: 15em;
                }

            } //seguirViendoImg
            .line{
                width: 15em;
                height: 0.3em;
                background-color: rgb(163, 159, 159);
                margin-left: 6em;

                @media (max-width: 768px) {
                    margin-left: 8em;
                    width: 6em;
                }

                    .lineProgress{
                        width: 5em;
                        height: 100%;
                        background-color: red;

                        @media (max-width: 768px) {
                            width: 2em;
                        }
                    }
            }//line
            
        }//progress
        &::-webkit-scrollbar {
            opacity: 0;
        }
        &:hover{
            opacity: 100;
        }
        
    }//seguirViendo
}//seguirViendoSection