$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);
$ipadpro: 1024px;
$ipad: 768px;
$mobile: 480px;

.seguirViendoSection {
    .espacio {
        position: relative;
        bottom: 5rem;
    }
    .seguirViendoTitle {
        color: $pallete1;
        margin-left: 3rem;
        font-size: 1.5em;
        font-weight: bold;

        @media screen and (max-width: $ipad) {
            margin-left: 2.5rem;
            font-size: 1.2em;
            margin-bottom: 1.5rem;
        }
    }
    .seguirViendo {
        margin-top: 2rem;
        margin-bottom: 2rem;;
        @media screen and (max-width: $ipad) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .progress{
            .seguirViendoImg {
               width: 20rem;
                

                &.seguirViendoImg:nth-child(1) {
                    margin-left: 3em;
                }

                &.seguirViendoImg:hover{
                    transform: scale(1.1);
                }

                @media screen and (max-width: $ipadpro){ 
                    width: 15rem;
                }
                @media screen and (max-width: $mobile) {
                    width: 18rem;
                }
            } //seguirViendoImg
            .line{
                width: 16rem;
                height: 0.3rem;
                background-color: rgb(163, 159, 159);
                margin-left: 5rem;
                margin-top: 1.5rem;

                @media screen and (max-width: $ipadpro) {
                    margin-left: 7rem;
                    width: 8rem;
                }

                @media screen and (max-width: $mobile) {
                    margin-top: 1rem;
                }

                .lineProgress {
                    height: 100%;
                    background-color: red;
                }//lineProgress

                .red1 {
                    width: 5rem;

                    @media screen and (max-width: $ipadpro) {
                        width: 2.5rem;
                    }
                }
             .red2 {
                    width: 8rem;

                    @media screen and (max-width: $ipadpro) {
                    width: 4rem;
                    }
                }
                    .red3 {
                        width: 10rem;

                        @media screen and (max-width: $ipadpro) {
                            width: 5rem;
                        }
                    }
                    .red4 {
                        width: 2rem;

                        @media screen and (max-width: $ipadpro) {
                            width: 1rem;
                        }
                    }
                    .red5 {
                        width: 13rem;

                        @media screen and (max-width: $ipadpro) {
                            width: 6.5rem;
                        }
                    }
                    .red6 {
                        width: 7rem;

                        @media screen and (max-width: $ipadpro) {
                            width: 3.5rem;
                        }
                    }
                    .red7 {
                        width: 1rem;

                        @media screen and (max-width: $ipadpro) {
                            width: 0.5rem;
                        }
                    }
                    .red8 {
                        width: 6rem;

                        @media screen and (max-width: $ipadpro) {
                            width: 3rem;
                        }
                    }
                
            }//line
        }//progress
    }//seguirViendo
}//seguirViendoSection