$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);

.seriesSection {
    .seriesTitle {
        color: $pallete1;
        margin-left: 3em;
    }
    .series {
        height: 15em;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        .serieImg {
            margin: 1em;
            scroll-snap-align: center;
            
            &.serieImg:nth-child(1) {
                margin-left: 3em;
            }

            &.serieImg:hover{
                transform: scale(1.1);
              }

              @media (max-width: 768px) {
                width: 15em;
              }
        }  
        &::-webkit-scrollbar {
            color: $pallete2;
        }
        &:hover{
            opacity: 100;
        }

    }//series
}//seriesSection