$pallete1: white;
$pallete2: rgba(7, 7, 7, 0.9);
$tablet: 768px;
$mobile: 480px;

.seriesSection {
    .seriesTitle {
        color: $pallete1;
        margin-left: 3em;
    }
    .series {
        margin-top: 2rem;
        margin-bottom: 2rem;

        @media (max-width: $tablet) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .serieImg {
              width: 20rem;

            &.serieImg:nth-child(1) {
                margin-left: 3em;
            }

            &.serieImg:hover{
                transform: scale(1.1);
              }

              @media (max-width: $tablet) {
                width: 11rem;
            }

            @media (max-width: $mobile) {
                width: 13rem;
            }

        }  
    }//series
}//seriesSection