@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.header {
  position: fixed;
  background-color: rgba(7, 7, 7, 0.9);
  width: 100vw;
  height: 4em;
}
@media (max-width: 768px) {
  .header {
    height: 10%;
  }
}
.header .menuOn {
  display: inline-block;
  display: none;
  margin-left: 1em;
  width: 1.5em;
  height: 1em;
  position: relative;
}
.header .menuOn .menuHamburguesa {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background-color: white;
}
.header .menuOn .menuHamburguesa.menuHamburguesa:nth-child(2) {
  top: calc(50% - 2px);
}
.header .menuOn .menuHamburguesa.menuHamburguesa:nth-child(3) {
  bottom: 0;
}
@media (max-width: 768px) {
  .header .menuOn {
    display: block;
    margin-top: 0.5em;
  }
}
.header .titlePage .titlePageImg {
  width: 9.3em;
  margin-top: 0.8em;
  margin-left: 5em;
  margin-bottom: -1em;
}
@media (max-width: 768px) {
  .header .titlePage .titlePageImg {
    width: 15%;
    margin-top: -1em;
    margin-bottom: 0;
  }
}
.header .navBar {
  display: inline;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  margin-left: 5em;
}
.header .navBar .listaNav {
  display: inline;
}
.header .navBar .listaNav .itemNav {
  display: inline;
}
.header .navBar .listaNav .itemNav .inicioNav {
  text-decoration: none;
  color: white;
}
.header .navBar .listaNav .itemNav .seriesNav {
  text-decoration: none;
  margin-left: 0.8em;
  color: white;
}
.header .navBar .listaNav .itemNav .peliculasNav {
  text-decoration: none;
  margin-left: 0.8em;
  color: white;
}
.header .navBar .listaNav .itemNav .agregadosNav {
  text-decoration: none;
  margin-left: 0.8em;
  color: white;
}
.header .navBar .listaNav .itemNav .listaNav {
  text-decoration: none;
  margin-left: 0.8em;
  color: white;
}
@media (max-width: 768px) {
  .header .navBar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 1;
  }
}

.heroScreen {
  background-image: url("../assets/blackSummer.png");
  max-width: 90em;
  height: 45em;
  color: white;
}
@media (max-width: 768px) {
  .heroScreen {
    background-size: cover;
    background-position: center;
  }
}
.heroScreen .titleOriginal {
  padding: 2em;
  font-weight: bold;
  font-size: 1.7em;
  padding-top: 8em;
}
.heroScreen .titleSerie {
  width: 5em;
  font-weight: bold;
  font-size: 4.5em;
  margin-left: 0.8em;
  line-height: 1em;
  margin-top: -0.7em;
}
.heroScreen .reproducir {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.8em;
  border-radius: 9px;
  background-color: rgba(126, 121, 121, 0.6);
  border: rgba(126, 121, 121, 0.6);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 4em;
}
.heroScreen .reproducir.reproducir:hover {
  background-color: rgba(243, 18, 18, 0.6);
}
.heroScreen .miLista {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.8em;
  border-radius: 9px;
  background-color: rgba(126, 121, 121, 0.6);
  border: rgba(126, 121, 121, 0.6);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 1.5em;
}
.heroScreen .miLista.miLista:hover {
  background-color: rgba(243, 18, 18, 0.6);
}
.heroScreen .ver {
  display: block;
  margin: 1.5em 0 0 3em;
  font-size: 1.3em;
}
.heroScreen .textResumen {
  width: 25em;
  margin: 1.5em 0 0 3em;
  font-size: 1.3em;
}
@media (max-width: 768px) {
  .heroScreen {
    font-size: 60%;
  }
}

.seriesSection .seriesTitle {
  color: white;
  margin-left: 3em;
}
.seriesSection .series {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.seriesSection .series .serieImg {
  margin: 1em;
  scroll-snap-align: center;
}
.seriesSection .series .serieImg.serieImg:nth-child(1) {
  margin-left: 3em;
}
.seriesSection .series .serieImg.serieImg:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .seriesSection .series .serieImg {
    width: 40%;
  }
}
.seriesSection .series::-webkit-scrollbar {
  opacity: 0;
}
.seriesSection .series:hover {
  opacity: 100;
}

.seguirViendoSection .seguirViendoTitle {
  color: white;
  margin-left: 3em;
}
.seguirViendoSection .seguirViendo {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.seguirViendoSection .seguirViendo .progress .seguirViendoImg {
  margin: 1em;
  scroll-snap-align: center;
}
.seguirViendoSection .seguirViendo .progress .seguirViendoImg.seguirViendoImg:nth-child(1) {
  margin-left: 3em;
}
.seguirViendoSection .seguirViendo .progress .seguirViendoImg.seguirViendoImg:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .seguirViendoSection .seguirViendo .progress .seguirViendoImg {
    width: 15em;
  }
}
.seguirViendoSection .seguirViendo .progress .line {
  width: 15em;
  height: 0.3em;
  background-color: #a39f9f;
  margin-left: 6em;
}
@media (max-width: 768px) {
  .seguirViendoSection .seguirViendo .progress .line {
    margin-left: 8em;
    width: 6em;
  }
}
.seguirViendoSection .seguirViendo .progress .line .lineProgress {
  width: 5em;
  height: 100%;
  background-color: red;
}
@media (max-width: 768px) {
  .seguirViendoSection .seguirViendo .progress .line .lineProgress {
    width: 2em;
  }
}
.seguirViendoSection .seguirViendo::-webkit-scrollbar {
  opacity: 0;
}
.seguirViendoSection .seguirViendo:hover {
  opacity: 100;
}

.agregadoRecientementeSection .agregadosRecientementeTitle {
  color: white;
  margin-left: 3em;
}
.agregadoRecientementeSection .agregadosRecientemente {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.agregadoRecientementeSection .agregadosRecientemente .agregadosRecientementeImg {
  margin: 1em;
  scroll-snap-align: center;
}
.agregadoRecientementeSection .agregadosRecientemente .agregadosRecientementeImg.agregadosRecientementeImg:nth-child(1) {
  margin-left: 3em;
}
.agregadoRecientementeSection .agregadosRecientemente .agregadosRecientementeImg.agregadosRecientementeImg:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .agregadoRecientementeSection .agregadosRecientemente .agregadosRecientementeImg {
    width: 40%;
  }
}
.agregadoRecientementeSection .agregadosRecientemente::-webkit-scrollbar {
  opacity: 0;
}
.agregadoRecientementeSection .agregadosRecientemente:hover {
  opacity: 100;
}

.wrapper {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
}

/*# sourceMappingURL=styles.css.map */
